.home-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #0056b3;
}


.user-profile {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-name {
    font-size: 24px;
    margin-right: 20px;
}

.logout-button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #0056b3;
}

.user-articles {
    margin-top: 20px;
}

.article-list {
    list-style: none;
    padding: 0;
}

.article-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article-item h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

.article-item p {
    font-size: 16px;
    color: #555;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-image {
        margin-bottom: 10px;
    }

    .profile-name {
        font-size: 20px;
    }

    .logout-button {
        font-size: 14px;
    }

    .article-item h4 {
        font-size: 18px;
    }

    .article-item p {
        font-size: 14px;
    }
}